html {
	width: 100%;
}

body {
	font-family: "Muli", sans-serif;
	font-weight: 300;
	width: 100%;
	margin: auto;
}

h1,h2,h3,h4,h5 {
	font-weight: 300;
}

.container {
	width: 1024px;
	margin: auto;
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none !important;
}

header {
	background-color: #26ade4;
	width: 100%;
	z-index: 1000;
}

header .container {
	padding: 50px 0;
	height: 200px;
	box-sizing: border-box;
}

header .upload_text {
	color: #8dd6f4;
	border-bottom: 2px solid #8dd6f4;
	font-size: 50px;
	padding-bottom: 5px;
	position: relative;
	overflow: hidden;
}

header .upload_text:after {
	display: inline-block;
	float: right;
	content: "\f062";
	font-family: 'FontAwesome';
	border-radius: 25px;
	height: 45px;
	width: 45px;
	margin-top: 5px;
	background-color: #fff;
	color: #d1e751;
	padding-top: 6px;
	font-size: 30px;
	box-sizing: border-box;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
}

header #file_upload {
	color: #8dd6f4;
	font-size: 200px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	-ms-filter: 'alpha(opactiy=0)';
	margin: 0;
	z-index: 1000;
	cursor: pointer;
}

header h1 {
	font-weight: 300;
	color: #147ea9;
	font-size: 50px;
	display: inline;
	padding: 0;
	margin: 0;
	position: absolute;
	left: -175px;
	width: 175px;
}

header .nav {
	position: absolute;
	bottom: 0;
}

header .nav a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 20px;
	color: #147ea9;
	text-transform: uppercase;
}

header .nav a.active, header .nav a:hover {
	color: #fff;
	border-bottom: 4px solid #4dbce9;
}

header.fixed {
	position: fixed;
	top: -165px;
	left: 0;
}

#wrapper {

}

#wrapper h2 {
	font-size: 50px;
	margin: 0;
	margin-bottom: 10px;
}

#wrapper hr {
	clear: both;
	color: #d1e751;
	border-color: #d1e751;
	background-color: #d1e751;
	margin: 25px 0;
	display: block;
	height: 1px;
	border-width: 0;
	border-top-width: 1px;
	border-style: solid;
	padding: 0;
}

#wrapper p {
	margin-bottom: 10px;
	padding: 5px;
}

#editor #play_button {
	display: inline-block;
	width: 100px;
	height: 200px;
	vertical-align: top;
	margin-right: 50px;
}

#editor #play_button:before {
	content: '\f04b';
	font-family: "FontAwesome";
	color: #d1e751;
	background-color: #fff;
	border: 3px solid #d1e751;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	display: inline-block;
	font-size: 50px;
	padding: 23px;
	text-align: right;
	box-sizing: border-box;
	margin: 50px 0;
	cursor: pointer;
}

#editor #play_button.pause:before {
	content: '\f04c';
	text-align: center;
}

#editor #peaks_container, #editor #progress, #editor #placeholder {
	width: 869px;
	display: inline-block;
}

#editor #placeholder, #editor #progress {
	height: 160px;
	box-sizing: border-box;
	padding: 20px;
	margin: 20px 0;
	background-color: #4dbce9;
	border: 4px solid #147ea9;
	color: #147ea9;
	font-size: 50px;
	border-radius: 20px;
}

#editor #progress {
	background-color: #F4FFB3;
	border-color: #A4BF00;
	color: #A4BF00;
	position: relative;
	padding: 50px 20px;
}

#editor #progress.error {
	background-color: red;
	border-color: darkred;
	color: darkred;
	padding: 20px;
}

#editor #progress_bar {
	position: absolute;
	background-color: #E7FF59;
	left: 0;
	top: 0;
	bottom: 0;
	height: 152px;
	width: 0%;
	border-radius: 16px;
}

#editor #progress_text {
	z-index: 100;
	position: relative;
}

#editor .error #progress_bar { display: none; }

#editor #peaks_container .overview-container, #editor #peaks_container .zoom-container {
	/*display: none;*/
	width: 869px;
	display: inline-block;
	overflow: hidden;
}

#editor #peaks_container .zoom-container {
	display: inline-block;
	opacity: 0;
	height: 0;
	width: 1px;
}

#editor .control {
	background-color: #cef1ff;
	display: inline-block;
	width: 250px;
	height: 100px;
	margin: 30px;
	padding: 10px;
	vertical-align: top;
}

#editor .control h3 {
	margin: 0 0 10px;
	padding: 0;
}

#tutorials h3 {
	color: #d1e751;
	font-size: 25px;
	float: left;
	width: 800px;
	margin-bottom: 5px;
}

#tutorials .stories div {
	clear: both;
}

#tutorials .stories p {
	width: 800px;
	float: left;
	display: inline-block;
}
#tutorials .stories img {
	width: 200px;
	float: right;
	display: inline-block;
	border: 2px solid #d1e751;
	border-radius: 5px;
}

#about .name {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 0 20px;
}

#about .photo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
	margin: auto;
	margin-bottom: 33px;
}

#about .photo.ben {
	background-image: URL("../img/ben.png");
}

#about .photo.simon {
	background-image: URL("../img/simon.png");
}

#about .name p {
	border: 2px solid #cef1ff;
	display: block;
	padding: 10px;
	position: relative;
	border-radius: 5px;
}

#about .name p:after, #about .name p:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#about .name p:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
#about .name p:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #cef1ff;
	border-width: 34px;
	margin-left: -34px;
}

footer {
	background-color: #147ea9;
	color: #fff;
}

footer .container {
	text-align: center;
	height: 200px;
	box-sizing: border-box;
	padding: 20px 0;
}

footer h3 {
	color: #fff;
	margin-bottom: 20px;
}

footer h4 {
	color: #26ade4;
	margin-bottom: 5px;
}

footer .nav, footer .contact {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

footer .nav {
	width: 100px;
}

footer .contact {
	width: 150px;
}

footer a {
	color: #4dbce9;
	text-decoration: none;
}
footer a:hover {
	color: #fff;
}